.dialog-content {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 3fr 1fr 1fr;
}

fieldset {
  div {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0.5rem;
    padding-top: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &.social-item {
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid var(--p-slate-200);
      }

      p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 100%;

        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
    li + li {
      margin-top: 0.5rem;
    }
  }
}
