<fieldset>
  <app-section-header
    [title]="'Social Links'"
    [addLabel]="'Add Social Link'"
    (add)="openDialog()"></app-section-header>
  <section class="v-stack gap-12">
    <ul>
      @for (social of socialForm.controls.social.controls; track $index) {
        <li class="list-card">
          <div class="card-body h-stack justify-between w-100">
            <div class="h-stack gap-8 social-item">
              <img [src]="social.value.src" alt="social icon" class="card-icon" />
              <span class="card-title">{{ social.value.type | titlecase }}</span>
            </div>
            <div class="h-stack gap-8">
              <button mat-button class="btn-edit" type="button" (click)="editSocial($index)">
                Edit
              </button>
              <button mat-button class="btn-delete" type="button" (click)="removeSocial($index)">
                Delete
              </button>
            </div>
          </div>
        </li>
      }
    </ul>
  </section>
</fieldset>
