<fieldset>
  <h2>Social Links</h2>
  <div class="social-actions">
    <button mat-stroked-button color="primary" type="button" (click)="openDialog()">Add</button>
  </div>
  <section>
    <ul>
      @for (social of socialForm.controls.social.controls; track $index) {
        <li class="social-item">
          <div class="social-details">
            <mat-icon class="social-icon">share</mat-icon>
            <a [href]="social.value.url" target="_blank" rel="noopener noreferrer">
              {{ social.value.url }}
            </a>
          </div>
          <button mat-icon-button color="warn" type="button" (click)="removeSocial($index)">
            <mat-icon>delete</mat-icon>
          </button>
        </li>
      }
    </ul>
  </section>
</fieldset>
