<div class="cv-form-container">
  @if (isMobile()) {
    <app-mobile-warning />
  } @else {
    <div #cvForm class="cv-form">
      <form [formGroup]="form" (ngSubmit)="onSubmit($event)" (keydown.enter)="onSubmit($event)">
        <app-template-selector [parentForm]="form" [reset$]="$any(reset$)" />
        <app-personal-details [parentForm]="form" [reset$]="$any(reset$)" />
        <div class="divider"></div>
        <app-social [parentForm]="form" [reset$]="$any(reset$)" />
        <div class="divider"></div>
        <app-experience [parentForm]="form" [reset$]="$any(reset$)" />
        <div class="divider"></div>
        <app-education [parentForm]="form" [reset$]="$any(reset$)" />
        <div class="divider"></div>
        <app-expertise [parentForm]="form" [reset$]="$any(reset$)" />
        <div class="divider"></div>
        <app-strengths [parentForm]="form" [reset$]="$any(reset$)" />
        <div class="divider"></div>
        <app-language [parentForm]="form" [reset$]="$any(reset$)" />
        <div class="divider"></div>
        <div>
          <app-rich-text
            [parentForm]="form"
            [reset$]="$any(reset$)"
            [initialValues]="richTextInitialValue$" />
          <div class="divider"></div>
        </div>
        <button
          mat-raised-button
          class="btn-filled"
          color="primary"
          type="button"
          (click)="downloadPdf()">
          Download PDF
        </button>
        <button mat-stroked-button color="primary" type="button" (click)="openResetFormDialog()">
          Reset form
        </button>
      </form>
    </div>

    <ng-template #resetDialog>
      <h2 mat-dialog-title>Reset form</h2>
      <mat-dialog-content>
        <p class="dialog-text text-center">Are you sure you want to reset the form?</p>
      </mat-dialog-content>
      <mat-dialog-actions align="end" class="dialog-actions">
        <button mat-stroked-button type="button" (click)="closeResetFormDialog()">No</button>
        <button mat-flat-button color="warn" type="button" (click)="resetForm()">Yes</button>
      </mat-dialog-actions>
    </ng-template>
  }
</div>
