<fieldset>
  <app-section-header
    [title]="'Languages'"
    [addLabel]="'Add Language'"
    (add)="openDialog()"></app-section-header>
  <section class="v-stack gap-12">
    <ul>
      @for (language of languageControls; track $index) {
        <li class="list-card list-card--dark">
          <div class="card-body">
            <div class="v-stack gap-8">
              <h3 class="card-title">{{ language.value.name }}</h3>
              <p class="card-subtitle">{{ language.value.level }}</p>
            </div>
          </div>
          <div class="card-divider"></div>
          <div class="card-actions">
            <button mat-button color="warn" type="button" (click)="removeLanguage($index)">
              Delete
            </button>
          </div>
        </li>
      }
    </ul>
  </section>
</fieldset>

<ng-template #languageDialog>
  <h2 mat-dialog-title class="dialog-header">Add Language</h2>
  <mat-dialog-content class="dialog-content v-stack gap-12" [formGroup]="dialogForm">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Language</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="dialogForm.controls.name.invalid">Language name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Proficiency Level</mat-label>
      <mat-select formControlName="level" required>
        @for (option of proficiencyLevels; track option.value) {
          <mat-option [value]="option.value">{{ option.label }}</mat-option>
        }
      </mat-select>
      <mat-error *ngIf="dialogForm.controls.level.invalid">Proficiency level is required</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="dialog-actions h-stack gap-8">
    <button mat-stroked-button type="button" class="btn-outlined" (click)="closeDialog()">
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      type="button"
      class="btn-filled"
      (click)="addLanguage()">
      Save
    </button>
  </mat-dialog-actions>
</ng-template>
