<fieldset>
  <h2>Languages</h2>
  <div>
    <button mat-stroked-button color="primary" (click)="openDialog()">Add Language</button>
  </div>
  <section>
    <ul>
      @for (language of languageControls; track $index) {
        <li class="language-item">
          <div class="language-details">
            <h3>{{ language.value.name }}</h3>
            <p>{{ language.value.level }}</p>
          </div>
          <button mat-icon-button color="warn" type="button" (click)="removeLanguage($index)">
            <mat-icon>delete</mat-icon>
          </button>
        </li>
      }
    </ul>
  </section>
</fieldset>

<ng-template #languageDialog>
  <h2 mat-dialog-title>Add Language</h2>
  <mat-dialog-content class="dialog-content" [formGroup]="dialogForm">
    <mat-form-field appearance="outline">
      <mat-label>Language</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="dialogForm.controls.name.invalid">Language name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Proficiency Level</mat-label>
      <mat-select formControlName="level" required>
        @for (option of proficiencyLevels; track option.value) {
          <mat-option [value]="option.value">{{ option.label }}</mat-option>
        }
      </mat-select>
      <mat-error *ngIf="dialogForm.controls.level.invalid">Proficiency level is required</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-stroked-button type="button" (click)="closeDialog()">Cancel</button>
    <button mat-flat-button color="primary" type="button" (click)="addLanguage()">Save</button>
  </mat-dialog-actions>
</ng-template>
