<fieldset>
  <h2>Experience</h2>
  <div>
    <button mat-stroked-button color="primary" (click)="openDialog()">Add Experience</button>
  </div>
  <section>
    <ul>
      @for (experience of experienceControls; track $index) {
        <li class="experience-item">
          <div class="experience-header">
            <h4>{{ experience.get('title')?.value }}</h4>
            <p class="company">{{ experience.get('company')?.value }}</p>
            <p class="period">
              {{ experience.get('startDate')?.value | date: 'MM/yyyy' }} -
              {{
                experience.get('endDate')?.value
                  ? (experience.get('endDate')?.value | date: 'MM/yyyy')
                  : 'Present'
              }}
              <span class="location">{{ experience.get('location')?.value }}</span>
            </p>
          </div>
          <ul class="description-list">
            @for (description of getDescriptionControls(experience); track $index) {
              <li>{{ description.value }}</li>
            }
          </ul>
          <button mat-icon-button color="warn" (click)="removeExperience($index)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editExperience($index)">
            <mat-icon>edit</mat-icon>
          </button>
        </li>
      }
    </ul>
  </section>
</fieldset>
