<fieldset>
  <h2>Experience</h2>
  <div>
    <p-button
      severity="secondary"
      variant="outlined"
      fluid
      (click)="openDialog()"
      label="Add Experience"
    />
  </div>
  <section>
    <ul>
      @for (experience of experienceControls; track $index) {
      <li class="experience-item">
        <div class="experience-header">
          <h4>{{ experience.get("title")?.value }}</h4>
          <p class="company">{{ experience.get("company")?.value }}</p>
          <p class="period">
            {{ experience.get("startDate")?.value | date : "shortDate" }} -
            {{
              experience.get("endDate")?.value
                ? (experience.get("endDate")?.value | date : "shortDate")
                : "Present"
            }}
            <span class="location">{{
              experience.get("location")?.value
            }}</span>
          </p>
        </div>
        <ul class="description-list">
          @for (description of getDescriptionControls(experience); track $index)
          {
          <li>{{ description.value }}</li>
          }
        </ul>
        <p-button
          icon="pi pi-trash"
          severity="danger"
          variant="outlined"
          (click)="removeExperience($index)"
        />
      </li>
      }
    </ul>
  </section>
</fieldset>

<p-dialog
  class="dialog"
  [modal]="true"
  [visible]="isDialogOpen()"
  (onHide)="closeDialog()"
  [closable]="false"
  header="Add Experience"
>
  <div class="dialog-content" [formGroup]="experienceItemForm">
    <div class="form-row">
      <p-iftalabel>
        <label for="title">Job Title</label>
        <input pInputText id="title" formControlName="title" required />
      </p-iftalabel>
    </div>
    <div class="form-row">
      <p-iftalabel>
        <label for="company">Company</label>
        <input pInputText id="company" formControlName="company" required />
      </p-iftalabel>
    </div>
    <div class="form-row dates">
      <p-iftalabel>
        <label for="startDate">Start Date</label>
        <p-calendar
          id="startDate"
          formControlName="startDate"
          dateFormat="mm/yy"
          view="month"
          [showIcon]="true"
          [readonlyInput]="true"
          [yearNavigator]="true"
          [yearRange]="yearRange"
          required
        />
      </p-iftalabel>
      <p-iftalabel>
        <label for="endDate">End Date</label>
        <p-calendar
          id="endDate"
          formControlName="endDate"
          dateFormat="mm/yy"
          view="month"
          [showIcon]="true"
          [readonlyInput]="true"
          [yearNavigator]="true"
          [yearRange]="yearRange"
        />
      </p-iftalabel>
    </div>
    <div class="form-row">
      <p-iftalabel>
        <label for="location">Location</label>
        <input pInputText id="location" formControlName="location" required />
      </p-iftalabel>
    </div>
    <div class="form-row" formArrayName="description">
      <label>Description</label>
      @for (description of descriptionControls; track $index) {
      <div class="description-item">
        <p-iftalabel>
          <input pInputText [formControlName]="$index" required />
        </p-iftalabel>
        @if ($index === 0) {
        <p-button
          icon="pi pi-plus"
          severity="secondary"
          variant="outlined"
          (click)="addDescriptionField()"
        />
        } @else {
        <p-button
          icon="pi pi-trash"
          severity="danger"
          variant="outlined"
          (click)="removeDescriptionField($index)"
        />
        }
      </div>
      }
    </div>
    <div class="button-row">
      <p-button
        class="save-button"
        [disabled]="!experienceItemForm.valid"
        (click)="addExperience()"
        label="Save"
        fluid="true"
      />
      <p-button
        fluid="true"
        variant="outlined"
        (click)="closeDialog()"
        label="Cancel"
      />
    </div>
  </div>
</p-dialog>
