<fieldset>
  <app-section-header
    [title]="'Experience'"
    [addLabel]="'Add Experience'"
    (add)="openDialog()"></app-section-header>
  <section class="v-stack gap-12">
    <ul>
      @for (experience of experienceControls; track $index) {
        <li class="list-card">
          <div class="card-body">
            <div class="v-stack gap-8">
              <h4 class="card-title">{{ experience.get('title')?.value }}</h4>
              <p class="card-subtitle company">{{ experience.get('company')?.value }}</p>
              <p class="card-subtitle period">
                {{ experience.get('startDate')?.value | date: 'MM/yyyy' }} -
                {{
                  experience.get('endDate')?.value
                    ? (experience.get('endDate')?.value | date: 'MM/yyyy')
                    : 'Present'
                }}
                <span class="location">{{ experience.get('location')?.value }}</span>
              </p>
            </div>
          </div>
          <div class="card-divider"></div>
          <div class="card-actions">
            <button mat-button color="primary" (click)="editExperience($index)">Edit</button>
            <button mat-button class="btn-delete" (click)="removeExperience($index)">Delete</button>
          </div>
        </li>
      }
    </ul>
  </section>
</fieldset>
