<mat-dialog-content>
  <h2 mat-dialog-title class="dialog-header">Add Experience</h2>
  <div class="dialog-content v-stack gap-12" [formGroup]="experienceItemForm">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Job Title</mat-label>
      <input matInput id="title" formControlName="title" required />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Company</mat-label>
      <input matInput id="company" formControlName="company" required />
    </mat-form-field>
    <div class="dates h-stack gap-8">
      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate" required />
        <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker startView="multi-year"></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate" />
        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker startView="multi-year"></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Location</mat-label>
      <input matInput id="location" formControlName="location" required />
    </mat-form-field>
    <div class="description v-stack gap-12" formArrayName="description">
      <mat-label>Responsibilities</mat-label>
      @for (description of experienceItemForm.controls.description.controls; track $index) {
        <div class="description-item h-stack gap-8">
          <mat-form-field appearance="outline" class="description-field w-100">
            <mat-label>Responsibility {{ $index + 1 }}</mat-label>
            <input matInput [formControlName]="$index" required />
          </mat-form-field>
          @if ($index > 0) {
            <button mat-stroked-button type="button" (click)="removeDescriptionField($index)">
              Remove
            </button>
          }
        </div>
      }
    </div>
    <button mat-stroked-button color="primary" type="button" (click)="addDescriptionField()">
      Add Responsibility
    </button>

    <div class="actions dialog-actions h-stack gap-8">
      <button
        mat-flat-button
        color="primary"
        class="btn-filled"
        (click)="saveExperience()"
        [disabled]="!experienceItemForm.valid">
        Save
      </button>
      <button mat-stroked-button type="button" class="btn-outlined" (click)="closeDialog()">
        Cancel
      </button>
    </div>
  </div>
</mat-dialog-content>
