<h2>Personal Details</h2>
<fieldset [formGroup]="personalDetailsForm">
  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="fullName" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Phone</mat-label>
    <input matInput formControlName="phone" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Website</mat-label>
    <input matInput formControlName="website" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Headline</mat-label>
    <input matInput formControlName="headline" />
  </mat-form-field>
</fieldset>
