<fieldset>
  <h2>Education</h2>
  <div>
    <button mat-stroked-button color="primary" (click)="openDialog()">Add Education</button>
  </div>
  <section>
    <ul>
      @for (education of educationControls; track $index) {
        <li class="education-item">
          <div class="education-details">
            <h3>{{ education.value.degree }}</h3>
            <p>{{ education.value.institution }}</p>
            <p>{{ education.value.location }}</p>
            <p>{{ education.value.graduationDate | date: 'MM/yyyy' }}</p>
          </div>
          <button mat-icon-button color="warn" type="button" (click)="removeEducation($index)">
            <mat-icon>delete</mat-icon>
          </button>
        </li>
      }
    </ul>
  </section>
</fieldset>
