<fieldset>
  <app-section-header
    [title]="'Education'"
    [addLabel]="'Add Education'"
    (add)="openDialog()"></app-section-header>
  <section class="v-stack gap-12">
    <ul>
      @for (education of educationControls; track $index) {
        <li class="list-card">
          <div class="card-body">
            <div class="v-stack gap-8">
              <h3 class="card-title">{{ education.value.degree }}</h3>
              <p class="card-subtitle">{{ education.value.institution }}</p>
            </div>
          </div>
          <div class="card-divider"></div>
          <div class="card-actions">
            <button mat-button color="primary" (click)="editEducation($index)">Edit</button>
            <button mat-button class="btn-delete" type="button" (click)="removeEducation($index)">
              Delete
            </button>
          </div>
        </li>
      }
    </ul>
  </section>
</fieldset>
