<fieldset>
  <h2>Education</h2>
  <div>
    <p-button
      severity="secondary"
      variant="outlined"
      fluid
      (click)="openDialog()"
      label="Add Education"
    />
  </div>
  <section>
    <ul>
      @for (education of educationControls; track $index) {
      <li class="education-item">
        <div class="education-details">
          <h3>{{ education.value.degree }}</h3>
          <p>{{ education.value.institution }}</p>
          <p>{{ education.value.location }}</p>
          <p>{{ education.value.graduationDate | date : "MM/yyyy" }}</p>
        </div>
        <p-button
          icon="pi pi-trash"
          severity="danger"
          variant="outlined"
          (click)="removeEducation($index)"
        />
      </li>
      }
    </ul>
  </section>
</fieldset>

<p-dialog
  class="dialog"
  [modal]="true"
  [visible]="isDialogOpen"
  (onHide)="closeDialog()"
  [closable]="false"
  header="Add Education"
>
  <div class="dialog-content" [formGroup]="educationItemForm">
    <div class="form-row">
      <p-iftalabel>
        <label for="degree">Degree</label>
        <input pInputText id="degree" formControlName="degree" required />
      </p-iftalabel>
    </div>
    <div class="form-row">
      <p-iftalabel>
        <label for="institution">Institution</label>
        <input
          pInputText
          id="institution"
          formControlName="institution"
          required
        />
      </p-iftalabel>
    </div>
    <div class="form-row">
      <p-iftalabel>
        <label for="location">Location</label>
        <input pInputText id="location" formControlName="location" required />
      </p-iftalabel>
    </div>
    <div class="form-row">
      <p-iftalabel>
        <label for="graduationDate">Graduation Date</label>
        <p-calendar
          id="graduationDate"
          formControlName="graduationDate"
          dateFormat="mm/yy"
          view="month"
          [showIcon]="true"
          [readonlyInput]="true"
          [yearNavigator]="true"
          [yearRange]="'1900:2050'"
          required
        />
      </p-iftalabel>
    </div>
    <div class="button-row">
      <p-button
        class="save-button"
        [disabled]="!educationItemForm.valid"
        (click)="addEducation()"
        label="Save"
        fluid="true"
      />
      <p-button
        fluid="true"
        variant="outlined"
        (click)="closeDialog()"
        label="Cancel"
      />
    </div>
  </div>
</p-dialog>
