:host {
  display: block;
  margin-bottom: 1rem;

  .item-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  .add-item__button {
    margin-left: 0.5rem;
    min-width: 100px;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

h2 {
  margin-bottom: 1rem;
}

.add-item {
  margin-bottom: 1rem;

  .input-row {
    display: flex;
    gap: 0.5rem;
    align-items: stretch;

    input {
      flex: 1;
    }
  }
}
