<h2>{{ title() }}</h2>
<fieldset>
  <div class="add-item">
    <p-iftalabel>
      <label [for]="addButtonLabel()">{{ addButtonLabel() }}</label>
      <div class="input-row">
        <input
          [id]="addButtonLabel()"
          pInputText
          [(ngModel)]="newItem"
          [placeholder]="placeholder()"
          (keyup.enter)="addItem()" />
        <p-button
          class="add-item__button"
          severity="secondary"
          variant="outlined"
          fluid
          label="Add"
          (click)="addItem()"
          [disabled]="!newItem.trim()" />
      </div>
    </p-iftalabel>
  </div>
  <div class="item-chips">
    @for (item of itemControls; track $index) {
      <p-chip [label]="item.value" [removable]="true" (onRemove)="removeItem($index)"> </p-chip>
    }
  </div>
</fieldset>
