<h2>{{ title() }}</h2>
<fieldset>
  <div class="item-chips">
    @for (item of itemControls; track $index) {
      <mat-chip-row [removable]="true" (removed)="removeItem($index)">
        {{ item.value }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
  </div>

  <div class="add-item">
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>{{ addButtonLabel() }}</mat-label>
      <input
        matInput
        [id]="addButtonLabel()"
        [(ngModel)]="newItem"
        [placeholder]="placeholder()"
        (keyup.enter)="addItem($event)" />
    </mat-form-field>
  </div>
</fieldset>
