:host {
  display: block;
  margin-bottom: 1rem;

  .mat-button {
    height: 100%;
  }

  .item-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .add-item__button {
    margin-left: 0.75rem;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  h2 {
    margin-bottom: 1rem;
  }

  .add-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-items: stretch;

    .input-field {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}
