/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@font-face {
  font-family: "geist";
  src: url("./app/assets/fonts/Geist.ttf") format("truetype");
}

@font-face {
  font-family: "Geist-SemiBold";
  src: url("./app/assets/fonts/Geist-SemiBold.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Geist", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "geist";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.p-button-label {
  font-weight: 400;
}

input.ng-invalid.ng-touched {
  color: red;
  border: 1px solid red;
}

label:has(+ input.ng-invalid.ng-touched) {
  color: red;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
